
.swiper-slide-active .itemModule a:first-child {
    height: 100%;
    width: 80% !important;
}

.play-btn ,.popper-btn{
    height: 100%;
    width: 10% !important;
    align-self: flex-end ;
}

section.clearfix {
    display: flex;
    width: 100%!important;
}

.watched_episode{
    background-color: #f8f8f8;
}