body {
  width: 300px;
  height: 450px;
  background-color: #191919;
  font-family: "Arial", "メイリオ";
}

h1 {
  color: #cc0033;
  user-select: none;
  font-size: large;
}
h2 {
  color: rgb(250, 196, 96);
  user-select: none;
  font-size: medium;
  margin-top: 5px;
  margin-bottom: 5px;
}
p {
  color: whitesmoke;
}

.setting_component {
  margin-top: 25px;
  margin-bottom: 25px;
}

.guide_text {
  color: whitesmoke;
  margin-top: 0px;
  margin-bottom: 0px;
  display: none;
}

.checkbox_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 14px;
}
.textbox_wrapper {
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 14px;
}
.checkbox_text {
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.textbox_text {
  font-size: 14px;
  margin-top: 2px;
  margin-bottom: 2px;
}
/* From cssbuttons.io by @mrhyddenn */
/* The switch - the box around the slider */
.switch {
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 56px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 1;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background: #fff;
  transition: 0.4s;
  border-radius: 30px;
  border: 1px solid #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.9em;
  width: 1.9em;
  border-radius: 16px;
  left: 1.2px;
  top: 0;
  bottom: 0;
  background-color: white;
  box-shadow: 0 2px 5px #999999;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #eb5528;
  border: 1px solid transparent;
}

input:checked + .slider:before {
  transform: translateX(2.5em);
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #e4d0ca;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #eb5528;
  border-radius: 10px;
}

input[type="text"] {
  width: 75%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
  background-color: #3e3e3e;
  border-color: #2e2e2e;
  color: whitesmoke;
}

input[type="text"]:focus {
  border-color: rgb(22, 97, 173);
  box-shadow: 0 0 8px 0 rgb(22, 97, 173);
}

.inputWithIcon input[type="text"] {
  padding-left: 40px;
}

.inputWithIcon {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

.inputWithIcon i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
  height: 15px;
}

.inputWithIcon input[type="text"]:focus + i {
  color: rgb(22, 97, 173);
}

.inputWithIcon.inputIconBg i {
  background-color: #2e2e2e;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + i {
  color: #fff;
  background-color: rgb(22, 97, 173);
}
.input_submit {
  width: 56px;
  margin-left: 10px;
  margin-right: 10px;
}

#user_input_form {
  display: flex;
}
